@import 'normalize.css';

@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu-Bold.woff2') format('woff2'),
      url('../fonts/Ubuntu-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu-Medium.woff2') format('woff2'),
      url('../fonts/Ubuntu-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu-Regular.woff2') format('woff2'),
      url('../fonts/Ubuntu-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu-Light.woff2') format('woff2'),
      url('../fonts/Ubuntu-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Amatic SC';
  src: url('AmaticSC-Regular.woff2') format('woff2'),
      url('AmaticSC-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Amatic SC';
  src: url('AmaticSC-Bold.woff2') format('woff2'),
      url('AmaticSC-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


:root {
  --orange:#FFCA28;
  --white:#F5F5F5;
  --gray:#E0E0E0 ;

}

body {
  margin: 0;
  font-family:'Ubuntu', Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.6);
  background-color: white;
  line-height: 1;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 100%;
  padding-right: 40px;
  padding-left: 40px;
  margin-right: auto;
  margin-left: auto;
}

.navigation {
  display: none;
}

.header__container {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: space-between;
}

.footer {
  display: block;
  background-color: var(--gray);
}
.footer__container {
  padding-right: 20px;
  padding-left: 20px;
}

